{% extends 'base.html.twig' %}

{% block title %}Panier Vide{% endblock %}

{% block body %}
    <section class="cart-page">
        <div class="cart-container">
            <div class="cart-title-page">
                <h1>Votre Panier est Vide</h1>
            </div>
            <div class="cart-content-empty">
                <p>Il semble que vous n'ayez aucun produit dans votre panier.</p>
                <a href="{{ path('app_home') }}" class="btn-continue-shopping">Continuer vos achats</a>
            </div>
        </div>
    </section>
{% endblock %}
