{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="hero">
    <div class="hero-content">
        <h1>Bienvenue</h1>
        <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
    </div>
    <div class="hero-image">
        <img src="{{ asset('../assets/images/home-hero-image.jpg') }}" alt="Image hero">
    </div>
</section>
{% endblock %}
